@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Quicksand&family=Raleway:wght@100&display=swap');

body{
    background: coral;
}
.wrapper{
    width: 800px;
    margin: auto;
    color: #fff;
    text-align: center;
    
}
h1,h2,h3{
    font-family:'comfortaa';
    font-weight: 100;
    font-size: 3.6rem;
    margin-top: 20px;
    margin-bottom: 50px;
}
.watch{  
    font-size: 2.1rem;
}
.manage{
    justify-content: center;
    display: flex;
}
#seconds, #tens, .dots{
    font-size: 2em;
}
button{
    border: solid 1px #fff;
    border-radius: 5px;
    background: coral;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 20px 10px;
    width: 150px;
    margin: 10px;
    outline: none;
    margin-top: 20px;
    transition:  0.5s ease-in-out;
}

button:hover{
    transition:  0.5s ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color:coral;
}

@media (max-width: 800px) {
    
    h1{
        font-size: 5rem;
    }
    .wrapper{
        font-size: 5rem;
    }
    button{
        border-radius: 15px;
        font-size: 1.8rem;
    }
    .manage{
        display: inline;
    }
}